{% extends 'base.html' %}


{% block content %}

  <div>
      <div style="text-align: center; max-width: 500px; margin: 4rem auto;">



          {% if target_user.profile %}
          <img src="{{ target_user.profile.image.url }}" alt="프로필사진"
               style="border-radius: 20rem; margin-bottom: 2rem; width: 12rem; height: 12rem; object-fit: cover;">
            <!-- object-fit: cover 이미지 비율에 맞게 자동으로 크기에 맞게 잘라주는 옵션 -->
          <h2 style="font-family: 'NanumSquareRoundOTFEB';">
              {{ target_user.profile.nickname }}
                  {% if target_user == user %}
                  <a class="material-icons"
                     style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem"
                      href="{% url 'profileapp:update' pk=target_user.profile.pk %}" style="font-size: .9rem;">
                      edit<!--box-shadow: 위치 위치 크기 색상// material-icons에서 해당하는 아이콘의 이름을 넣어줘야 제대로 나온다-->
                  </a>
                  {% endif %}
          </h2>
          <h5 style="margin-bottom: 3rem;">
              {{ target_user.profile.message }}
          </h5>
          {% else %}
              {% if target_user == user %}
              <a href="{% url 'profileapp:create' %}">
                  <h2 style="font-family: 'NanumSquareRoundOTFEB';">
                      Create Profile
                  </h2>
              </a>
              {% else %}
                <h2>
                    닉네임 미설정
                </h2>
              {% endif %}
          {% endif %}

          <!-- 유저 정보 업데이트 페이지로 이동하기 위한 코드 -->
          {% if target_user == user %}
          <a class="material-icons"
             style="box-shadow: 0 0 3px #ccc; border-radius: 1rem; padding: .4rem; margin-right: 10px;"
             href="{% url 'accountapp:update' pk=user.pk %}">
                  settings
          </a>
          <a class="material-icons"
             style="box-shadow: 0 0 3px red; border-radius: 1rem; padding: .4rem"
             href="{% url 'accountapp:delete' pk=user.pk %}">
                  delete
          </a>
          {% endif %}
      </div>
      <div>

          {% include 'snippets/list_project.html' with article_list=object_list %}

      </div>
  </div>

{% endblock %}