{% extends 'base.html' %}


{% block content %}

  <div>
      <div style="text-align: center; max-width: 500px; margin: 4rem auto;">



          {% if target_user.profile %}
          <img src="{{ target_user.profile.image.url }}" alt="프로필사진"
               style="border-radius: 20rem; margin-bottom: 2rem; width: 12rem; height: 12rem; object-fit: cover;">
            <!-- object-fit: cover 이미지 비율에 맞게 자동으로 크기에 맞게 잘라주는 옵션 -->
          <h2 style="font-family: 'NanumSquareRoundOTFEB';">
              {{ target_user.profile.nickname }}
                  {% if target_user == user %}
                  <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}" style="font-size: .9rem;">
                      edit
                  </a>
                  {% endif %}
          </h2>
          <h5 style="margin-bottom: 3rem;">
              {{ target_user.profile.message }}
          </h5>
          {% else %}
              {% if target_user == user %}
              <a href="{% url 'profileapp:create' %}">
                  <h2 style="font-family: 'NanumSquareRoundOTFEB';">
                      Create Profile
                  </h2>
              </a>
              {% else %}
                <h2>
                    닉네임 미설정
                </h2>
              {% endif %}
          {% endif %}

          <!-- 유저 정보 업데이트 페이지로 이동하기 위한 코드 -->
          {% if target_user == user %}
          <a href="{% url 'accountapp:update' pk=user.pk %}">
              <p>
                  Change Info
              </p>
          </a>
          <a href="{% url 'accountapp:delete' pk=user.pk %}">
              <p>
                  Quit
              </p>
          </a>
          {% endif %}
      </div>
  </div>

{% endblock %}