{% extends 'base.html' %}

{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center">

        <h1 style="font-family: 'Anton', sans-serif">
            Hello WORLD LIST:
        </h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
                <!-- "btn btn-primary"는 bootstrap에서 자동으로 css를 꾸며주는 역할을 해준다. -->
            </div>
        </form>

        {% if hello_world_output %}
        <h1>
            {{ hello_world_output.text }}
        </h1>
        {% endif %}

    </div>

{% endblock %}