<!--<div style="text-align: center; margin: 1rem 0;">-->
<!--    {% if page_obj.has_previous %} &lt;!&ndash; has_previous: 현재 패이지에서 이전 페이지가 존재하는지 여부 불리언 &ndash;&gt;-->
<!--    <a href="?page={{ page_obj.previous_page_number }}"-->
<!--        class="btn btn-secondary rounded-pill">-->
<!--        {{ page_obj.previous_page_number }}-->
<!--    </a>-->
<!--    {% endif %}-->
<!--    <a href="?page={{ page_obj.number }}"-->
<!--        class="btn btn-dark rounded-pill">-->
<!--        {{ page_obj.number }}-->
<!--    </a>-->
<!--    {% if page_obj.has_next %} &lt;!&ndash; 현재 페이지에서 다음 페이지가 존재하는지 여부 불리언 &ndash;&gt;-->
<!--    <a href="?page={{ page_obj.next_page_number }}"-->
<!--        class="btn btn-secondary rounded-pill">-->
<!--        {{ page_obj.next_page_number }}-->
<!--    </a>-->
<!--    {% endif %}-->
<!--</div>-->

<style>
  .page  {
    text-align:center;
  }

  .disabled {
    text-align:center;
  }

  .active {
    text-align:center;
  }
</style>

{% if is_paginated %}
  <div style="width:100%; text-align:center; margin:0 auto;">
    <ul class="pagination" style="width:300px; text-align:left;">
      {% if page_obj.has_previous %}
        <li class="page">
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary rounded-pill">
            <span>Prev</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#" class="btn btn-secondary rounded-pill">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}" class="btn btn-gray rounded-pill">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page">
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary rounded-pill">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#" class="btn btn-secondary rounded-pill">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}