.logo {
    font-family: 'Anton', sans-serif;
}

.footer_button {
    font-size: .8rem;
}

.footer {
    text-align: center; margin-top: 3rem;
    font-family: 'Anton', sans-serif;
}

.header {
    text-align: center; margin: 2rem 0;
}