.logo {
    font-family: 'Anton', sans-serif;
}

.footer {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Anton', sans-serif;
}

.header {
    text-align: center; margin: 2rem 0;
}

@media screen and (max-width:500px) {  /* 스크린의 max-width가 500px이하로 내려가면 적용되는 것 */
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: None;
}

/* a태그에 마우스를 올려두었을 때 반응하는 형태를 설정 */
a:hover {
    color: orange;
}

.project_p_header {
    margin: 0 0.5rem;
    font-family: 'NanumSquareRoundOTFEB';
}

.project_p_footer {
    font-size: .9rem;
    margin: 1rem 0.5rem;
    font-family: 'NanumSquareRoundOTFEB';
}

/* 정적 경로에 저장된 내용들은 수시로 적용되지 않기 때문에 실제 페이지에 적용되려면 기다려야 한다. */