<!-- margin: (상,하) (좌,우); 옵션 설정-->
<div class="header">
    <div>
        <h1 class="logo">Project_Pinter</h1>
    </div>
    <div class="project_p_header">
        <a href="{% url 'articleapp:list' %}" class="project_p_header">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="project_p_header">
            <span>Projects</span>
        </a>
        <a href="{% url 'subscriptionapp:list' %}" class="project_p_header">
            <span>Subscription</span>
        </a>

        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="project_p_header">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="project_p_header">
            <span>Sign up</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="project_p_header">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}" class="project_p_header">
            <span>Logout</span>
        </a>
        {% endif %}

    </div>
</div>