{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

  <div>
      <div style="text-align: center; max-width: 600px; margin: 4rem auto;">

          <h1>
              {{ target_article.title }}
          </h1>
          <h3 style="margin-bottom: 1rem;">
              {{ target_article.writer.profile.nickname }} <!-- 닉네임이 없는 경우는 어떻게 처리할지? -->
          </h3>
          <hr>

          <img style="width: 100%; border-radius: 1rem;" src="{{ target_article.image.url }}" alt="">

          <div style="text-align: left;">
              {{ target_article.content | safe }} <!--태그같은 것들은 제외되고 내용만 나오도록 필터-->
          </div>

          {% if target_article.writer == user %} <!-- 게시물 작성자가 유저일 경우만 보여준다. -->
          <a href="{% url 'articleapp:update' pk=target_article.pk %}"
          class="btn btn-primary rounded-pill col-3">
              Update
          </a>
          <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
          class="btn btn-danger rounded-pill col-3">
              Delete
          </a>
          {% endif %}
          <hr>

          {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
          {% endfor %}

          {% include 'commentapp/create.html' with article=target_article %} <!-- commentapp폴더 내 create.html파일에 article정보를 보낸다 -->

      </div>
  </div>

{% endblock %}